body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media(max-width: 1080px){
  .news{
    width: 10%;
  }
} */

body::before{
  display: block;
  content: '';
  height: 40px;
}

@media(min-width: 769px){
  .news{
    width: 60%;
  }
}
